
   <h1> Mi cuenta es : <%= "#{@count}" %></h1>

   <form action="/" method="get">
     <label for="cuenta"><input type="submit" id="cuenta" name="cuenta">
        <input type="hidden" id="cuenta" name="cuenta" value= <%= @count.to_i + 1 %>>

   </form>
